.button {
    background-color: blue; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 2em;
    margin-left: 2em;
  }

body
{
  background-image: url(./fond_app.png);
}

.conteneur
{
  display: flex;
  justify-content: center;
}

.boite
{
  display: flex;
  flex-direction: column;
}

img {
  height: 100%;
  width: 100%;
  object-fit: contain;
 }

 
.contenant {
  position: relative;
  text-align: center;
  color: white;
}

.texte_centrer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: larger;
}
