#conteneur
{
  background-image: url(./fond_app.png);
  width: 800px;
}

#conteneur2
{
  display: flex;
  justify-content: center;
  background-image: url(./fond_app.png);
}

.boite
{
  display: flex;
  flex-direction: column;
}

.spe {
  height: 100%;
  width: 100%;
  object-fit: contain;
  animation-name: spin;
  animation-duration: 25000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  user-select: none;
 }

 
.contenant {
  position: relative;
  text-align: center;
  color: white;
}

.texte_centrer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: larger;
}

.texte
{
  background: linear-gradient(135deg, #23bcc1 50%, #0f7bad);
  padding: 2em;
  border-radius: 15px;
  margin: 0 1em;
  box-shadow: 1px 1px 12px #555;
  opacity: 70%;
}

@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}